.containerPublic {
  width: 100%;
  height: auto;
  font-family: "proxima-nova", sans-serif;
}

.position-sticky {
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.23);
  top: 0;
  z-index: 99;
}

.filtersBar {
  height: 6rem;
}

.LogoPublic {
  width: 8%;
  cursor: pointer;
}

.inputPublic {
  width: 25rem;
  height: 2.4rem;
  border-radius: 0;
  outline: none;
}

.inputPublic {
  border-radius: 0;
  border: 1px solid rgba(128, 128, 128, 0.219);
  font-style: italic;
}

.inputPublic:hover {
  box-shadow: none;
  border-color: #31af9a;
  border-width: 2px;
}

.SearchIconListings {
  margin-left: -2.5rem;
  margin-bottom: 0.3rem;
}

.dropdownMenu {
  margin-left: 2rem;
  height: 2.4rem;
  width: 10rem;
  border-radius: 0;
  outline: none;
  color: rgba(0, 0, 0, 0.64);
  border: 1px solid rgba(128, 128, 128, 0.219);
}

.logInBtn {
  background-color: #197572;
  margin-left: 31rem;
  background-color: #197572;
  color: white;
  width: 9.5rem;
  height: 2.4rem;
}

.logInBtn:hover {
  background-color: #31af9a;
}

.dropdownMenu:hover {
  box-shadow: none;
  border-color: #31af9a;
  border-width: 2px;
}

.option:hover {
  color: #31af9a;
}

.opt {
  font-size: 1rem;
  margin-left: 10px;
}

.containerImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.item1 {
  border: 1px solid rgba(128, 128, 128, 0.41);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: auto;
  width: calc((120% - 1rem) / 4);

  max-width: 90%;
  max-height: 90%;
  margin: 1.6rem;
}

.item1:hover {
  border: 1px solid #31af9a;
}

.imgPublic {
  max-width: 100%;
  height: auto;
}

.description {
  height: 10rem;
}

/* firstcol */
.spects {
  width: 70%;
  height: 100%;
  white-space: nowrap;
}

.publicPrice {
  font-size: 2.6rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.spect {
  margin-left: 1.9rem;
  margin-bottom: -0.3rem;
}

.strong {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.78);
}

/* firstcol */
/* secondcol */
.spects2 {
  width: 30%;
  height: 100%;
  margin-top: 2rem;
  white-space: nowrap;
}

.spectText {
  margin-right: 1.3rem;
  margin-top: 2rem;
  font-size: 1vw;
}

.icons1 {
  margin-top: -1rem;
  margin-right: 1.3rem;
}

.nbedbath {
  font-weight: 600;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}

.bed {
  margin-right: 1rem;
}

.listingNumber {
  margin-right: 1.3rem;
}

/* secondcol */
/* public Modal */
.publicModal1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #31af9a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

/* imgbg */
.imgPublic1 {
  height: 100%;
  width: 100%;
}

.imgCardContainerClass {
  border: 1px solid white;
  width: 800%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showImage {
  height: 100%;
}

.backToSearch {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  top: 17%;
  left: 3%;
  width: 10vw;
  height: 3%;
  z-index: 100;
  color: #197572;
  font-size: 0.8vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.xmonth {
  font-size: 1.2vw;
}

.backToSearch:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #31af9a;
}

.bottomLeftButton {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.71);
  bottom: 8%;
  left: 3%;
  width: 4vw;
  height: 3%;
  z-index: 100;
  color: #197572;
  font-size: 0.8vw;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bottomLeftButton:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #31af9a;
}

.camSpan {
  margin-left: 0.5rem;
  font-size: 0.8vw;
}

/* imgbg */

.description1 {
  background-color: white;
  width: 30%;
  height: 100%;
}

.publicPrice1 {
  margin-top: 5rem;
  margin-left: 3rem;
  height: 10%;
  width: 100%;
  font-size: 2vw;
}

.spectsModal {
  height: 23%;
  width: 100%;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #000000a5;
}

.desc {
  margin-bottom: 1.5%;
  margin-top: 5%;
  margin-right: 3rem;
}

.desc2 {
  color: black;
  font-weight: 600;
  text-transform: capitalize;
}

.order2 {
  margin-right: 5rem;
  font-size: 0.9vw;
}

.desc1 {
  margin-top: 2rem;
}

.PublicList {
  margin-top: -1rem;
  width: 100%;
  font-weight: 600;
}

.PublicList ul {
  list-style-type: none;
  padding: 0;
}

.PublicList li::before {
  content: "•";
  margin-right: 0.5em;
}

.listing {
  width: 50%;
  margin-left: 10rem;
}

.second {
  width: 60%;
}

.second ul {
  margin-right: 7rem;
}

.desc3 {
  font-size: 0.9vw;
  margin-left: 3rem;
  color: #000000a5;
}

.requirementsUl {
  margin-left: 3rem;
  font-weight: 600;
  width: 100%;
  font-size: 0.8vw;
}

.requirementsUl ul {
  list-style-type: none;
  padding: 0;
}

.requirementsUl li {
  word-wrap: break-word;
  width: 80%;
}

.requirementsUl li::before {
  content: "•";
  margin-right: 0.5em;
}

.requirementsUl li {
  margin-bottom: 1rem;
}

.containerD {
  position: fixed;
  width: 30%;
  margin-top: 8.2%;
  bottom: 50px;
  z-index: 50;
}

.applyBtnPublic {
  background-color: #197572;
  width: 80%;
  height: 2.3rem;
  color: white;
}

.applyBtnPublic:hover {
  background-color: #31af9a;
}

/* public Modal */
.camera {
  margin-right: 0.2rem;
}