/* Tenants Modal */
.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(10px);
}

.modalContent {
  background-color: white;
  height: 60%;
  width: 40%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-control {
  width: 100%;
}

.tenant {
  font-size: 35px;
  margin-right: 42%;
  margin-top: 7%;
}

.modalForm {
  color: #000000a5;
  border: none;
  border-top: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.449);
  opacity: 1;
  width: 65%;
  font-size: 100%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.modalButton {
  margin: 6rem;
  margin-right: 1rem;
}

.save {
  background-color: #197572;
  color: white;
  width: 250px;
  height: 39px;
}

.save:hover {
  background-color: #31af9a;
}

.close {
  margin-left: 96%;
  margin-top: 1%;
  cursor: pointer;
}

.cancel {
  color: #197572;
  text-decoration: underline;
  font-weight: 500;
}

.cancel:hover {
  color: #31af9a;
}

.eyeIcon {
  margin-top: -2.7rem;
  margin-left: 28rem;
}

/* Tenants Modal */
/* Listing Modal */
.bg {
  background-color: rgba(0, 0, 0, 0.09);
  height: 100%;
  width: 100%;
}

.modalWrapper2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.modalContent2 {
  background-color: white;
  height: 80%;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modalListing1 {
  border: 1px solid black;
}

/* imgLISTINGMODAL */

.container1 {
  height: 100%;
  width: 105%;
}
.r1 {
  height: 40%;
}
.r2 {
  height: 20%;
  margin-right: 20rem;
}
.r2Container {
  width: 100%;
}
.ModalImg {
  margin-top: 4.5rem;
  width: 70%;
  z-index: 2;
}
.formContainer {
  width: 35%;
  height: 45%;
  margin-left: -2rem;
}

.imgContainer {
  width: 30%;
  height: 50%;
}
.imgContainer:hover {
  cursor: pointer;
}
.imgOverlay {
  position: absolute;
  margin-top: 3.7%;
  height: 24.2%;
  width: 19%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editBar {
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.7rem;
  margin-top: 52%;
  width: 100%;
  z-index: 1;
}
.imgContainer:hover .imgOverlay.hovered .editBar {
  background-color: rgba(255, 255, 255, 0.75);
}

.editText {
  color: #197572;
  font-weight: 600;
  font-family: "proxima-nova", sans-serif;
}

/* imgLISTINGMODAL */

.inputContainerListing {
  margin-top: 2.2rem;
}

.inputListing {
  color: #000000a5;
  border: none;
  border-top: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  opacity: 1;
  width: 95%;
  font-size: 100%;
  margin-top: 2rem;
  margin-right: -0.1rem;
  background: transparent;
}

.inputListing2 {
  color: #000000a5;
  width: 100%;
  height: 70%;
  font-size: 100%;
}
.inputContainerListing2 {
  margin-top: 1.9rem;
  margin-left: 3%;
  width: 100%;
}

.inputListing3 {
  width: 40%;
  height: 2rem;
  border: none;
  border-top: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  outline: none;
  background: transparent;
}

.inputListingBath {
  width: 40%;
  height: 2rem;
  margin-left: 2rem;
  margin-right: -20rem;
  margin-bottom: 2rem;
  border: none;
  border-top: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  outline: none;
  background: transparent;
}
.list {
  font-size: 0.8vw;
  font-weight: medium;
  font-family: "proxima-nova", sans-serif;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}



li {
  color: black;
}

.listingCheckbox {
  font-family: "proxima-nova", sans-serif;
  margin-top: 1.4rem;
  margin-left: -1.3rem;
  font-size: 14px;
  color: rgba(128, 128, 128, 1);
}

.form-check {
  display: flex;
  align-items: center;
}

.checkboxListing {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  margin-left: 10px;
}

.checkboxListing:checked {
  background-color: #197572;
}

.checkboxListing:checked::before {
  content: "\2713";
  display: block;
  text-align: center;
  line-height: 14px;
  font-size: 13px;
  color: #fff;
}

.checkboxListing:focus {
  outline: none;
  border-color: #197572;
}
.orderBtn {
  position: absolute;
  border-top: 1px solid rgba(128, 128, 128, 0.57);
  width: 88.7%;
  height: 13%;
  bottom: 10%;
}

.modalButton1 {
  margin: 2rem;
  margin-right: 4rem;
}

.saveListing {
  background-color: #197572;
  color: white;
  width: 155px;
  height: 39px;
}
.cancelListing {
  color: #197572;
  text-decoration: underline;
  font-weight: 500;
}

.cancelListing:hover {
  color: #31af9a;
}

.saveListing:hover {
  background-color: #31af9a;
}

.closeListing {
  margin-left: 99%;
  margin-top: -2rem;
  cursor: pointer;
}

.buttonContainer1 {
  height: 100%;
  width: 100%;
}
/* SecondForm */
.secondFormContainer {
  width: 40%;
  height: 36%;
}
.closeListing2 {
  margin-left: 95%;
  margin-top: 3%;
  cursor: pointer;
}

/* SecondForm */

/* Listing Modal */
/* Listing Modal2 */
.modalContent1 {
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: white;
  z-index: 10000;
  font-family: "proxima-nova", sans-serif;
  overflow: scroll;
  overflow-x: hidden;
}
.modalContent1::-webkit-scrollbar {
  width: 0.5em;
}

.modalNav {
  border-bottom: 2px solid rgba(128, 128, 128, 0.352);
}

.gobackContainer {
  margin-top: 3rem;
  margin-left: 4rem;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.goBack {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #197572;
  font-weight: 500;
  cursor: pointer;
}

.goBack:hover {
  color: #31af9a;
}

.closeListing2 {
  height: 0.7rem;
  margin-right: 6rem;
  cursor: pointer;
}

.modalNav {
  display: flex;
}

.ulModal {
  list-style: none;
  display: flex;
  padding-left: 1rem;
  margin-left: 2%;
  margin-top: 1%;
  width: 50%;
  font-size: 0.9vw;
  margin-bottom: 0.6%;
}

.liModal {
  margin-top: 0.7rem;
  margin-right: 35px;
  transition: all 0.2s;
  position: relative;
  color: grey;
  white-space: nowrap;
}

.liModal:hover {
  color: #197572;
}

.liModal::after {
  content: "";
  position: absolute;
  top: 138%;
  left: 0;
  width: fit-content;
  height: 2px;
  background-color: #197572;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  display: inline-block;
}

.liModal:hover::after {
  transform: scaleX(0.9);
  width: 100%;
}

.b3 {
  margin-right: 65%;
}

.option {
  color: #197572;
  margin-right: 2%;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: -1rem;
  text-decoration: underline;
  white-space: nowrap;
}

#fileInput {
  display: none;
}

.option:hover {
  color: #31af9a;
}

.editText:hover {
  color: #31af9a;
}
/* requirements */
.requirement {
  width: 100%;
  height: 20%;
  margin-top: 4rem;
}
.orderRequirement {
  height: 100%;
  width: 100%;
  margin-left: 1rem;
  border: 1px solid 100%;
}
.requirements1 {
  color: rgba(128, 128, 128, 1);
}
.list1 {
  overflow: hidden;
  font-size: 0.8vw;
  font-weight: medium;
  font-family: "proxima-nova", sans-serif;
  width: 95%;
  font-weight: 600;
}
.list1 li {
  margin-top: 1rem;
  word-wrap: break-word;
}
/* requirements */

/* Listing Modal2 */
.inputAmenities1 {
  width: 100%;
  border: none;
  border-top: none;
  outline: none;
}
